<div>
    <h1>Таблица уроков</h1>
  <form [formGroup]="lesForm">
    <table cellspacing="2" border="1" cellpadding="5" width="600">
      <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th>Тема</th>
        <th>Домашнее задание</th>
        <th>Комментарий</th>
      </tr>
   
        <tr formArrayName="lessons"
          *ngFor="
            let lesson of lesForm.get('lessons')['controls'];
         let i = index
          " >
          <!-- <div [formGroupName]="i"> -->
              <td>{{i + 1 + " "}}</td>
            <td [formGroupName]="i"><input type="date" formControlName="date" [readonly]="chReadOnly" /></td>
            <td [formGroupName]="i"><input type="text" formControlName="theme" [readonly]="chReadOnly" /></td>
            <td [formGroupName]="i"><input type="text" formControlName="hw" [readonly]="chReadOnly" /></td>
            <td [formGroupName]="i"><input type="text" formControlName="notice" [readonly]="chReadOnly" /></td>
            
            
          <!-- </div> -->
        </tr>
      
    </table>
    
  </form>
  <button type="button" style="background-color: green; color: honeydew;" (click)="addLesson(lesForm.get('lessons')['controls'].length)">Добавить урок</button>
  <button type="button" style="background-color: red; color: honeydew;" (click)="delLesson()">Удалить урок</button>
  <button type="button" [ngClass]="{bgCol: isBgColorGrey}" (click)="toggle()">Редактировать форму</button>
  <br>
  <button type="button" (click)="sendForm()">Отправить</button>
</div>
